<div class="w-full">

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Services</h1>
    <%= link_to "Add Service", new_car_service_path(@car), class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-flex font-medium" %>
  </div>

  <div id="services" class="min-w-full">
    <%= render @services %>
  </div>
</div>
