<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">New <%= @user.model_name.name.downcase%></h1>

  <%= render "form", user: @user %>

  <%= link_to "Back to #{@user.model_name.name.downcase}s", {controller: 'users'}, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
