<nav class="bg-grey-900">
  <% if user_signed_in? %>
    <%= link_to 'Edit password', edit_password_path %>
    <%= button_to 'Logout', logout_path, method: :delete %>
  <% else %>
    <%= link_to 'Customer log in', customer_login_path %>
    <%= link_to 'Admin log in', admin_login_path %>
  <% end %>
</nav>
