<!DOCTYPE html>
<html>
  <head>
    <%= render "shared/head" %>
  </head>

  <body class="subpixel-antialiased font-lato">
    <%= render "shared/top_nav" %>
    <%= render "shared/flash" %>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
